## Visual Studio
.vs/
bin/
obj/
*.suo
*.user
*.userprefs
*.pidb
*.booproj

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

## Database files (optional - you might want to track these)
*.mdf
*.ldf

## Uploads folder (optional)
Uploads/
/assignmentDraft1/App_Data/Database1.mdf
/assignmentDraft1/App_Data/Database1_log.ldf
